<mat-progress-bar mode="indeterminate" *ngIf="inLoad"></mat-progress-bar>
<h2 mat-dialog-title>
    {{ type }} Newsletter
    <button class="close-button" type="button" mat-icon-button [disabled]="inLoad" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</h2>
<mat-dialog-content>
    <form class="form-items" [formGroup]="newsLetterForm" (submit)="submit()">
        <div class="form-item">
            <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="newsLetterForm.controls.email.invalid">Please enter Email</mat-error>
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class=" w-100 text-left">
        <button class="ml-2" mat-button color="primary" [disabled]="inLoad" (click)="submit()">Submit</button>
    </div>
</mat-dialog-actions>